.apply-div{
	min-height: 800px;
	width: 1000px;
	margin: auto;
	background-color: white;
}

.apply-top-div{
	width:880px;
	height:360px;
	margin: auto;
	border-bottom: 1px solid #ADADAD;
	position: relative;
}

.apply-logo-div{
	position: absolute;
	top:65px;
	left:30px;
}

.platform-logo{
	float: left;
	width: 130px;
	height: 50px;
}

.platform-name{
	float: left;
	font-size: 22px;
	margin-left: 30px;
}

.platform-keyword{
	float: left;
	color:#CBCBCB;
	padding:1px 15px;
	border: 1px solid #CBCBCB;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 18px;
	border-radius:4px;
}

.apply-desc{
	position: absolute;
	top:200px;
	left:30px;
}

.apply-content-div{
	width: 820px;
	padding-top:80px;
	padding-bottom:40px;
	margin:auto;
	text-align: left;
	color: #333333;
	font-size: 14px;
}

.apply-operate-div{
	height:180px;
	width:820px;
	margin: auto;
	text-align: center;
}

.apply-desc-div{
	text-align: center;
	width: 820px;
	color: #ADADAD;
	font-size:18px;
	margin-top: 15px;
}

.apply-btn{
	height: 45px;
	width:300px;
	font-size: 22px;
	margin-top:23px;
	background-color: #EB4E1B;
	font-family: "黑体";
}

.apply-submit-btn{
	margin-right: 75px;
}