.center-div{
	width: 1000px;
	margin: auto;
	min-height: 320px;
}

.center-menu-div{
	width: 197px;
	margin-right: 2px;
	float: left;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.center-menu{
	height:37px;
	font-size: 18px;
	line-height: 37px;
	margin-bottom: 10px;
	border-left: 7px solid #EEEEEE;
	cursor: pointer;
}

.center-menu-selecttd{
	background-color: white;
	border-left: 7px solid #FF5522;
}

.center-menu:HOVER{
	background-color: white;
	border-left: 7px solid #FF5522;
}

.center-right{
	width:800px;
	float: left;
}

.safe-set-div{
	height: 300px;
	background-color: white;
	padding: 60px 110px;
}

.valid-notice{
	width:100%;
	line-height:14px;
	font-size: 12px;
	transform: scale(0.8);
	text-align: left;
}

.submit-psw-div{
	clear:both;
	width: 580px;
	margin: 45px auto;
}

.submit-psw-div input[type=button]{
	width:300px;
	height:50px;
	font-size: 24px;
}

.apply-center-top{
	height: 70px;
	background-color: white;
	margin-bottom: 5px;
}

.apply-center-menus{
	width: 740px;
	margin: auto;
}

.apply-menu{
	float: left;
	height:70px;
	line-height: 70px;
	cursor: pointer;
	margin-right: 20px;
}

.apply-menu-btn{
	height:40px;
	margin-top: 20px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #CBCBCB;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.apply-menu-selecttd{
	border-bottom: 3px solid #FF5522;
}

.apply-menu-selecttd .apply-menu-btn{
	color: white;
	background-color: #FF5522;
	border: 1px solid #FF5522;
}

.apply-menu-hover{
	border-bottom: 3px solid #FF5522;
}

.apply-menu-hover .apply-menu-btn{
	color: white;
	background-color: #FF5522;
	border: 1px solid #FF5522;
}

.apply-list{
	min-height: 300px;
	background-color: white;
	margin: auto;
}

.apply-center-notice{
	margin-top:20px;
	background-color: white;
	text-align: left;
	padding: 35px 50px 40px;
	line-height: 25px;
}